p { color: aqua; }

.class1 { background: #fff url(41.jpg) no-repeat scroll center center; }
.class1 p { color: gainsboro;}


h1 { color: cornsilk; border-style: dashed; 
    border-width: 7px;
     border-color: blanchedalmond; 
     border-radius: 4px; }


.class2 { height: 390px;
          width: 567px;
          border: 5px solid white; }

